<section class="header-container">
    <div class="background-overlay"></div>
    <div class="main-heading">
        <h1>
            <strong>MEDIA </strong> <span>AND</span><br>
            <strong>CREATIVE ARTS</strong>
        </h1>
        <p>
            <div>LET'S DESIGN YOUR FUTURE</div>
            <div>WHERE YOUR CREATIVITY COMES TO LIFE</div>
        <p>
    </div>
    <section>

        <section class="box-container">
            {{#each info}}
            <div class="box">
                <img class="box-img" src="{{this.imgURL}} " alt="{{this.title}}">
                <h2>
                    {{this.title}}
                    <div class="style-under"></div>
                </h2>
                <p>{{this.description}}</p>
                <a href="{{this.link}}">
                    <div class="box-btn">
                        <div class="box-btn--txt">Learn More</div>
                    </div>
                </a>
            </div>
            {{/each}}
        </section>