<section class="background-overlay">
    <h1>The Faculty of Media & Creative Arts</h1>
    <p>LET'S DESIGN YOUR FUTURE WHERE YOUR CREATIVITY COMES TO LIFE</p>
</section>

<section class="box-container">
    {{#each info}}
    <div class="box">
        <img class="box-img" src="{{this.imgURL}} " alt="{{this.title}}">
        <h2>
            {{this.title}}
            <div class="style-under"></div>
        </h2>
        <p>{{this.description}}</p>
        <a href="{{this.link}}">
            <div class="box-btn">
                <div class="box-btn--txt">Learn More</div>
            </div>
        </a>
    </div>
    {{/each}}
</section>