<section class="header-container">
    <div class="background-overlay"></div>
    <div class="main-heading">
        <h1>
            <strong>MEDIA </strong> <span>AND</span><br>
            <strong>CREATIVE ARTS</strong>
        </h1>
        <p>
            <div>LET'S DESIGN YOUR FUTURE</div>
            <div>WHERE YOUR CREATIVITY COMES TO LIFE</div>
            <p>
    </div>
    <section>

        <section class="prg">
            <div class="divider"></div>
            <h2 class="prg-title">Areas of Study</h2>



            <div class="prg-list">
                <div>
                    <a href="#"><img
                        src="https://3ja7kv3vb64k3jba19afwdp1-wpengine.netdna-ssl.com/wp-content/uploads/2017/09/animation_pen.svg"
                        class="prg-icon">
                    <p class="prg-p">Arts</p>
                    </a>
                </div>

                <div>
                    <a href="#">
                        <img src="https://3ja7kv3vb64k3jba19afwdp1-wpengine.netdna-ssl.com/wp-content/uploads/2017/09/photography_digital-imaging.svg"
                            class="prg-icon">
                        <p class="prg-p">Visual Designs</p>
                    </a>
                </div>

                <div>
                    <a href="#"><img
                        src="https://3ja7kv3vb64k3jba19afwdp1-wpengine.netdna-ssl.com/wp-content/uploads/2017/09/gameart-cube.svg"
                        class="prg-icon">
                    <p class="prg-p">3D Animation</p>
                    </a>
                </div>

                <div>
                    <a href="#"><img
                        src="https://3ja7kv3vb64k3jba19afwdp1-wpengine.netdna-ssl.com/wp-content/uploads/2017/09/photography_cinematography.svg"
                        class="prg-icon">
                    <p class="prg-p">Media Production</p>
                    </a>
                </div>


                <div>
                    <a href="#">
                    <img src="https://3ja7kv3vb64k3jba19afwdp1-wpengine.netdna-ssl.com/wp-content/uploads/2017/09/interiordesign_cad.svg"
                        class="prg-icon">
                    <p class="prg-p">Web and Interactive</p>
                    </a>
                </div>

                <div>
                    <a href="#"><img
                        src="https://3ja7kv3vb64k3jba19afwdp1-wpengine.netdna-ssl.com/wp-content/uploads/2017/09/graphicdesign_document.svg"
                        class="prg-icon">
                    <p class="prg-p">Journalism</p>
                    </a>
                </div>
            </div>

            <div>
                <a href="#">
                    <button class="prg-btn">See in Detail <i class="fas fa-arrow-circle-right"></i></button>
                </a>
            </div>
        </section>


        <section class="box-container">
            {{#each info}}
            <div class="box">
                <img class="box-img" src="{{this.imgURL}} " alt="{{this.title}}">
                <h2>
                    {{this.title}}
                    <div class="style-under"></div>
                </h2>
                <p>{{this.description}}</p>
                <a href="{{this.link}}">
                    <div class="box-btn">
                        <div class="box-btn--txt">Learn More</div>
                    </div>
                </a>
            </div>
            {{/each}}
        </section>