<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
</head>

<body>
  <section class="background-overlay">
    <div class="main-heading">
      <h1>
        <strong>MEDIA </strong> <span>AND</span><br>
        <strong>CREATIVE ARTS</strong>
      </h1>
      <p>LET'S DESIGN YOUR FUTURE WHERE YOUR CREATIVITY COMES TO LIFE</p>
    </div>
    <a href="#">
        <button class="heading-btn">Student Info</button>
        <button class="heading-btn">Student Works</button>
      </a>
  </section>

    {{!-- <section>
    <div class="achive">
      <a href="#">
        <p>
          Achievements of Our Students
        </p>
      </a>
    </div>
  </section> --}}

  <section>
    <div class="gallery">
    <div class="divider"></div>
      <h2>
        <span class="gallery-title">Get Inspired by</span>
        <br>
        <span class="about-insp">Our Students Works</span>
      </h2>
      <div class="gallery-wrap">
        <div class="item item-1"></div>
        <div class="item item-2"></div>
        <div class="item item-3"></div>
        <div class="item item-4"></div>
        <div class="item item-5"></div>
      </div>
    </div>
  </section>

   <section>
      <div class="fixed-icon"><i class="fas fa-comment-dots fa-3x"></i></div>
  </section>

  <section class="prg">
    <div class="divider"></div>
    <h2 class="prg-title">Areas of Study</h2>



    <div class="prg-list">
      <div>
        <a href="#">
          <img
            src="https://3ja7kv3vb64k3jba19afwdp1-wpengine.netdna-ssl.com/wp-content/uploads/2017/09/animation_pen.svg"
            class="prg-icon">
          <p class="prg-p">Arts</p>
        </a>
      </div>

      <div>
        <a href="#">
          <img
            src="https://3ja7kv3vb64k3jba19afwdp1-wpengine.netdna-ssl.com/wp-content/uploads/2017/09/photography_digital-imaging.svg"
            class="prg-icon">
          <p class="prg-p">Visual Designs</p>
        </a>
      </div>

      <div>
        <a href="#"><img
            src="https://3ja7kv3vb64k3jba19afwdp1-wpengine.netdna-ssl.com/wp-content/uploads/2017/09/gameart-cube.svg"
            class="prg-icon">
          <p class="prg-p">3D Animation</p>
        </a>
      </div>

      <div>
        <a href="#"><img
            src="https://3ja7kv3vb64k3jba19afwdp1-wpengine.netdna-ssl.com/wp-content/uploads/2017/09/photography_cinematography.svg"
            class="prg-icon">
          <p class="prg-p">Media Production</p>
        </a>
      </div>


      <div>
        <a href="#">
          <img
            src="https://3ja7kv3vb64k3jba19afwdp1-wpengine.netdna-ssl.com/wp-content/uploads/2017/09/interiordesign_cad.svg"
            class="prg-icon">
          <p class="prg-p">Web and Interactive</p>
        </a>
      </div>

      <div>
        <a href="#"><img
            src="https://3ja7kv3vb64k3jba19afwdp1-wpengine.netdna-ssl.com/wp-content/uploads/2017/09/graphicdesign_document.svg"
            class="prg-icon">
          <p class="prg-p">Journalism</p>
        </a>
      </div>
    </div>

    <div>
      <a href="#">
        <button class="prg-btn">See in Detail <i class="fas fa-arrow-circle-right"></i></button>
      </a>
    </div>
  </section>

  <section>
    <div class="options-container">
      <div>
        <button class="options-drpdown">FULL TIME PROGRAMS</button>
        <div class="panel">

          <ul>

            <li><a href="#"> Animation 3D</a></li>
            <li><a href="#">Art Foundation</a></li>
            <li><a href="#">Advertising</a></li>
            <li><a href="#">Film and Media</li>


            <li><a href="#">Game Programming</a></li>
            <li><a href="#">Graphic Design</a></li>
            <li><a href="#">Journalism</a></li>
            <li><a href="#">Media Communication</a></li>


            <li><a href="#">Music Bachelor of</a></li>
            <li><a href="#">Photography</a></li>
            <li><a href="#">Public Relations</a></li>
            <li><a href="#">Radio Broadcasting</a></li>


            <li><a href="#">User Experience (UX)</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Visual & Digital Arts</a></li>
            <li><a href="#">Theatre Arts</a></li>

          </ul>
        </div>
      </div>


      <div>
        <button class="options-drpdown">PART TIME PROGRAMS</button>
        <div class="panel">
          <ul>
            <li><a href="#">Animation 3D</a></li>
            <li><a href="#">Art Foundation</a></li>
            <li><a href="#">Advertising</a></li>
            <li><a href="#">Film and Media</li>
            <li><a href="#">Game Programming</a></li>
            <li><a href="#">Graphic Design</a></li>
            <li><a href="#">Journalism</a></li>
            <li><a href="#">Media Communication</a></li>
          </ul>
        </div>
      </div>

      <div>
        <button class="options-drpdown">TRANSFER OPTIONS</button>
        <div class="panel">
          <ul>
            <li><a href="#">Transfer In</a></li>
            <li><a href="#">Transfer Within</a></li>
            <li><a href="#">Transfer Out</a></li>
            <li><a href="#">Course Outlines</a></li>

          </ul>
        </div>
      </div>


      <div>
        <button class="options-drpdown">CONTINUING EDUCATION</button>
        <div class="panel">
          <ul>
            <li><a href="#">Certificates</a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="#">Micro Credentials</a></li>
            <li><a href="#">Aoda Training</li>
            <li><a href="#">Community Music School</a></li>
            <li><a href="#">Registration Guide</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="start-day">
      <a href="#">
        <p>
          CLASSES START MARCH 2
          <sup>nd</sup>
          - APPLY TODAY
        </p>
      </a>
    </div>
  </section>

  <section class="about">
    <div class="about-title">
      <h2>
        HUMBER COLLEGE
        <br>
        SCHOOL OF MEDIA AND CREATIVE ARTS
      </h2>
    </div>

    <div>
      <h3>
        <span class="about-drm">DREAM.</span>
        <span class="about-cre">CREATE.</span>
        <span class="about-insp">INSPIRE.</span>
      </h3>
    </div>

    <div class="about-p">
      <div class="style-under"></div>
      <p>We specialize in storytelling of all forms. No matter your medium, we show you how to bring your art to
        life:
        on page, stage, screen, or speaker. Get hands-on experience through Live Labs, regular performances, and
        ongoing work-integrated learning, and learn the industry-specific business skills needed wherever your
        career
        and your story take you. Your professional future starts here.</p>
      <a href="#">
        <button class="about-btn">Apply Now</button>
        <button class="about-btn">Request Info</button>
      </a>

    </div>
  </section>


  {{!-- <section class="box-container">
            {{#each info}}
            <div class="box">
                <img class="box-img" src="{{this.imgURL}} " alt="{{this.title}}">
                <h2>
                    {{this.title}}
                    <div class="style-under"></div>
                </h2>
                <p>{{this.description}}</p>
                <a href="{{this.link}}">
                    <div class="box-btn">
                        <div class="box-btn--txt">Learn More</div>
                    </div>
                </a>
            </div>
            {{/each}}
   </section> --}}

  <section class="box-container">

    <div class="box">
      <img class="box-img"
        src="https://images.unsplash.com/photo-1507537509458-b8312d35a233?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
        alt="">
      <h2>
        Future Students
        <div class="style-under"></div>
      </h2>
      <p>Explore our full-time and
        continuing education programs.
        Find out how a Humber
        education will help you
        chart a sure path
        to your career.</p>
      <a href="#">
        <div class="box-btn">
          <div class="box-btn--txt">Learn More</div>
        </div>
      </a>
    </div>
    <div class="box">
      <img class="box-img"
        src="https://images.unsplash.com/photo-1567168544230-d5a9401299a4?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80">
      <h2>
        Current Students
        <div class="style-under"></div>
      </h2>
      <p>Take advantage of unique student resources, work-integrated learning, study abroad opportunities and
        program
        pathways.</p>
      <a href="#">
        <div class="box-btn">
          <div class="box-btn--txt">Learn More</div>
        </div>
      </a>
    </div>

    <div class="box">
      <img class="box-img"
        src="https://images.unsplash.com/photo-1561489422-45de3d015e3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
        alt="">
      <h2>
        Careers
        <div class="style-under"></div>

      </h2>
      <p>Partner with us – we can help with student work placements and industry research projects. We also deliver
        training solutions.</p>
      <a href="#">
        <div class="box-btn">
          <div class="box-btn--txt">Learn More</div>
        </div>
      </a>
    </div>

  </section>

  <script src="/js/home-p.js"></script>
</body>

</html>