<section class="grid-box">
    {{#each student}}
    <div class="profile-smallimg">
        <div class="profile-image"><img src="{{this.photo}}"></div>
        <div class="profile-info">
            <h3>{{this.name}}</h3>
            <p class="profile-extra"><strong>{{this.program}}</strong></p>
            <p>{{this.intro}}</p>
        </div>
        <div class="profile-stats">
            <p class="profile-stats--title">{{this.skill}}</p>
        </div>
        <div class="profile-cta">
            <a href="{{this.detailsURL}}" class="profile-btn">See More</a>
        </div>
    </div>
    {{/each}}
</section>